@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
}

.navbar {
  display: flex;
  padding: 0;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #ffefef;
}

ul > li {
  list-style-type: none;
  display: inline;
  margin: 0.5rem;
}

.navbar img {
  max-width: 3rem;
}

.navbar .left {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 500;
}

.navbar .right {
  font-size: 1.5rem;
  font-weight: 400;
}
