:root {
  --gradient: red;
}
*,
*:before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: "Nunito Sans";
  background-image: var(--gradient);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.main {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 10% 30%;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

#inputBox {
  margin: 2%;
  border-radius: 5px;
  border-style: none;
}
