@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
body {
  font-family: Parisienne, sans-serif;
  background-color: #232d3f;
  color: #faf0e6;
  font-weight: 500;
  margin: 2px 3%;
}

h1 {
  display: inline-block;
  font-size: 65px;
}
nav {
  display: inline-block;
  margin-left: 20px;
}

ul > li {
  list-style: none;
  display: inline-block;
  font-size: 28px;
  padding: 0 10px;
}

/* header {
  border-bottom: white solid 1px;
} */

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.img-card {
  width: 49.8%;
  display: inline-block;
  box-sizing: border-box;
}

main {
  margin: 10px 0;
}
