* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bahnschrift, serif;

}

header {
    padding: 5px 10%;
    background-color: #7FC7D9;
}

.Header-Content h1 {
    padding: 5px 0 20px 0;
}

.Top {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: black solid 1px;
    margin: 0 0 20px 0;
}


ul {
    display: flex;
    list-style-type: none;
}

ul li a {
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    color: black;
    font-size: large;
}

.Header-Content {
    display: flex;
    flex: 1;
}

.Info{
    background-color: #DCF2F1;
    padding-bottom: 3%;
}
.Info h1 {
    padding: 40px;
    text-align: center;
}

.Info-Images {
    display: flex;
    justify-content: space-around;
    padding: 0 15%;
}

.Info-Images > div {
    width: 150px;
}

.Info-Images img {
    border-radius: 15px;
    border: solid 1px lightblue;
}

.Quote{
    background-color: black;
    text-align: center;
    padding: 3%;
    font-size: x-large;
    color: white;
}