@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: Manrope, sans-serif;
  background-color: #fff0db;
  font-size: larger;
}

button,
select {
  font-family: inherit;
}

h1 {
  font-weight: 400;
  line-height: 0.75;
}

span {
  text-shadow: -2px 2px 2px rgb(224, 39, 39);
}

main {
  margin: 150px 100px;
  border-left: 1px solid black;
  padding: 1em;
}

p {
  font-style: italic;
  color: rgb(0, 219, 219);
  font-weight: 500;
}
