@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans";
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.loadingbox {
  border: 2px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-top: 2px solid white;
  animation: 1s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
