* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #76abae;
  height: 100vh;
  color: #eeeeee;
}

main {
  margin: 10px 25%;
}

.smallheader {
  text-align: center;
  margin: 10px 0;
  font-weight: normal;
}

#introtitle {
  margin: 50px 0;
}

#introp {
  text-transform: uppercase;
  margin: 30px 0;
}

.generalcontent {
  margin: 15px 0;
}

.quote {
  margin: 30px 0 30px 5%;
  border-left: solid 1px maroon;
  padding-left: 10px;
}
