@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: Manrope, sans-serif;
  background-color: #f8f6e3;
  font-weight: 500;
}

h1 {
  display: inline-block;
}
nav {
  display: inline-block;
}
ul > li {
  list-style: none;
  display: inline-block;
}
