body {
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: #121212;
  color: white;
}

h1,
h4 {
  font-weight: 400;
}

.main {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  margin: 5% 25%;
  padding: 1rem;
  background-color: #282828;
  justify-content: center;
  border: grey solid 1px;
}

.subtext {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.listbox {
  display: flex;
  flex-basis: 100%;
  gap: 0.5rem;
  justify-content: center;
}

.shoppinglist {
  display: flex;
  flex-basis: 100%;
  margin: auto;
  justify-content: center;
}

.listitem {
  display: flex;
  justify-content: space-between;
  width: 600px;
  flex-basis: 100%;
  gap: 5px;
}

a {
  color: hotpink;
}

button {
  border-radius: 10px;
  background-color: white;
  font: inherit;
  font-weight: 500;
  border-width: 0.1rem;
}
