@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}
header {
  background-color: #000000;
  height: 100vh;
  color: #eeeeee;
}

main {
  margin: 10px 25%;
}

.smallheader {
  text-align: center;
  margin: 10px 0;
  font-weight: normal;
  font-size: large;
}

#introtitle {
  margin: 50px 0;
}

#introp {
  text-transform: uppercase;
  margin: 30px 0;
}

.generalcontent {
  margin: 15px 0;
  font-weight: 400;
}

.quote {
  margin: 30px 0 30px 5%;
  border-left: solid 2px #ff204e;
  padding-left: 10px;
}

.linebreaks {
  display: block;
  height: 2px;
  border: none;
  background-color: #dddddd;
  margin: 50px 0;
}

span {
  color: #ff204e;
  font-weight: 500;
}

h1,
h2,
h3 {
  margin: 20px 0;
}

footer {
  background-color: #000000;
}
nav li {
  list-style: none;
  display: inline;
  color: rgb(211, 211, 211);
  padding: 0 20px;
  font-size: large;
}

nav ul {
  text-align: center;
  padding: 2% 0;
}

nav li:hover {
  color: white;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 25%;
  text-align: center;
}

header h1 {
  font-weight: 400;
  font-size: 150px;
}

header p {
  font-weight: 300;
  font-size: 20px;
}
